@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 27, 27);
    font-family: 'Lato', sans-serif;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

header .menu-side, .song-side{
    position: relative;
    width: 25%;
    height: 90%;
    background-color:#000000;
    /* border: 2px solid white; */
    box-shadow: 5px 0px 2px #090f1f;
    color: white;
}

header .menu-side h1{
    position: relative;
    left: 65px;
    top: -25px;
}

header .menu-side img{
    position: relative;
    top: 18px;
    left: 15px;
    background-color: white;
    border-radius: 34px;
}

header .song-side{
    width: 75%;
    background:  #121215;
    overflow-y:auto;
}

header .song-side::-webkit-scrollbar {
    display: none;
  }
  

header .master_play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu-side .playlist{
    margin: 30px 0px 0px 20px;
}

header .menu-side .playlist h4{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 21px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu-side .playlist h4:hover{
    color: #fff;
    
}

header .menu-side .playlist span{
    position: relative;
    margin-right: 35px;
}

header .menu-side .playlist h4 span::before{

    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -2px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    transition: .3s linear;

}

header .menu-side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu-side .playlist h4 .bi{
    display:none;
}

header .menu-side .playlist .active{
    color: #36e3ec88;
}
header .menu-side .playlist .active span{
    display:none;
}

header .menu-side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}


header .menu-side .menu-song{
    /* border: 2px solid #fff; */
    width: 100%;
    height: 330px;
    margin-top: 20px;
}

header .menu-side .menu-song li{
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .menu-side .menu-song li:hover{
    background: rgba(105, 105, 105, 0.301);
}

header .menu-side .menu-song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;

}

header .menu-side .menu-song li img{
    height: 5vh;
    width: 3vw;
    border-radius: 6px;
    top: 10px;
    border: 0.1px groove rgba(99, 84, 84, 0.212);
    margin-left: 20px;

}

header .menu-side .menu-song li h5{
    font-size: 11px;
    margin-left: 35px;
    margin-top: 15px;
}
header .menu-side .menu-song li .sub{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.527);
}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}



header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 5px;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: unset;
}

header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    animation-delay: .4s;
}

header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .2s;
}

/* JavaScript class wave */

header .master_play .active2 .wave1{
    animation: wave 1s linear infinite;
}

header .master_play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}

header .master_play .active2 .wave1:nth-child(3){
    animation-delay: .3s;
}


@keyframes wave {
    0%{
        height: 7px;
    }

    50%{
        height: 15px;
    }

    100%{
        height: 7px;
    }
}

header .master_play img{
    height: 35px;
    width: 35px;
}

header .master_play h5{
    width: 130px;
    font-size: 13px;
    color: white;
    margin-left: 15px;
    line-height: 17px;
}

header .master_play h5 .sub{
    font-size: 11px;
    color: rgba(177, 165, 165, 0.788);
}

#download{
    position: relative;
    left: 16px;

}

header .master_play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 25px;
}

header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2){
    border: 1px solid rgb(105,105,170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}

header .master_play .icon .bi:nth-child(){
    cursor: pointer;
    outline: none;
}

header .master_play span{
    width: 32px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

header .master_play #currentStart{
    margin: 0px 0px 0px 20px;

}

header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105,105,170,.1);
    margin: 0px 15px 0px 5px;

}

header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
}

header .master_play .bar .dot{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background:#36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: .1s linear;

}

header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;

}

header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 0.99999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol{
    position: relative;
    width: 150px;
    height: 2px;
    margin-left: 50px;
   background: rgb(105, 105, 170,.1); 
  }
  header .master_play .vol .bi{
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
  }
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 1s linear;
    opacity: 0;
}

header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: .1s linear;
}
header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: .1s linear;
}
header .master_play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    /* border:1px solid #36e2ec; */
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
  
header .song-side {
    z-index: 2;
}


header .song-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    /* background: url('/static/img/lisa.png'); */
    background-size:200px;
    background-repeat: no-repeat;
    background-position: top 30% right 2%;
    
    z-index: -1;
}

header .song-side .lisa{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('/static/img/lisa.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position: top 30% right 2%;
    
    z-index: -1;
}

header .song-side .jen::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('/static/img/jen.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position: top 120% right 35%;
    
    z-index: -1;
}
header .song-side .rose::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('/static/img/rose.png');
    background-size:150px;
    background-repeat: no-repeat;
    background-position: top 190% right 22%;
    
    z-index: -1;
}

header .song-side .jisoo::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('/static/img/jisoo.png');
    background-size:150px;
    background-repeat: no-repeat;
    background-position: top 80% right 50%;
    
    z-index: -1;
}

header .song-side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side nav ul{
    
    display: flex;

}

header .song-side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side nav ul li a{
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    color: #61687c;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side nav ul li:hover{

    color: #ffffff;
}
header .song-side nav ul li:nth-child(1){
    color: #fff;
}

header .song-side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
    
}




header .song-side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;

}

header .song-side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song-side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 5px 10px;
}
header .song-side nav .search input{
    background:none;
    outline: none;
    border: none;
    width: 300px;
    height: 25px;
    color: #fff;
    padding: 0px 10px;
    font-size: 12px;

}



header .song-side nav .search .search_result{
    position: absolute;
    width: 100%;
    height: 200px;
    /* border: 1px solid white; */
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

header .song-side nav .search .search_result::-webkit-scrollbar{
    display: none;
}


header .song-side nav .search .search_result .card{
    width: 100%;
    min-height: 45px;
    /* border: 1px solid white; */
    display: none;
    align-items: center;
    padding: 0px 5px;
    text-decoration: none;
    background: rgb(184, 184, 184, .1);
    margin-bottom: 5px;



}
header .song-side nav .search .search_result .card img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    


}


header .song-side nav .search .search_result .card .content{
    width: 80%;
    height: 100%;
    /* border: 1px solid white; */
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

header .song-side nav .search .search_result .card .content .sub{
    font-size: 11px;
    color: #a4a8b4;
    font-weight: 500;
}

header .song-side nav .log{
    cursor: pointer;
    transition: .3s linear;
}
header .song-side nav .log a{
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    color: #61687c;
    cursor: pointer;
    transition: .3s linear;
}
header .song-side nav .log a:hover{
    color: white;
}
header .song-side nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
}


header .song-side nav .user img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  nav .log a:hover{
    color: white;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.966);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 32px -46px;
    margin-top: 40px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

header .song-side .content{
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid white; */
    padding-top: 20px;
}

header .song-side .content h1{
    font-size: 25px;
    font-weight: 600;
}

header .song-side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin:5px;
}

header .song-side .content .buttons{
    margin-top: 15px;
}

header .song-side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}

header .song-side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}

header .song-side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
}

header .song-side .popular-songs{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 15px;
}

header .song-side .popular-songs .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side .popular-songs .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .popular-songs .h4 .bi:hover{
    color: #afff;
}


header .song-side .popular-songs .pop-songs{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

header .song-side .popular-songs .pop-songs::-webkit-scrollbar{
    display: none;
}

header .song-side .popular-songs .pop-songs li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song-side .popular-songs .pop-songs li:hover{
    background: rgba(105, 105, 105, 0.384);
}

header .song-side .popular-songs .pop-songs li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .song-side .popular-songs .pop-songs li .img_play img{
    width: 100%;
    height: 100%;
    margin-left: 10px;

}

header .song-side .popular-songs .pop-songs li .img_play .bi{
    position: absolute;
    top: 46px;
    left: 43px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    
}

header .song-side .popular-songs .pop-songs li .img_play:hover .bi{
    opacity: 1;
}

header .song-side .popular-songs .pop-songs li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
}

header .song-side .popular-songs .pop-songs li h5 .subtitle{
    font-size: 10px;
    color: #4c5262;
    text-align: center;
}







header .song-side .popular-songs .pop-songs2{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

header .song-side .popular-songs .pop-songs2::-webkit-scrollbar{
    display: none;
}

header .song-side .popular-songs .pop-songs2 li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song-side .popular-songs .pop-songs2 li:hover{
    background: rgba(105, 105, 105, 0.384);
}

header .song-side .popular-songs .pop-songs2 li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .song-side .popular-songs .pop-songs2 li .img_play img{
    width: 100%;
    height: 100%;
    margin-left: 10px;

}

header .song-side .popular-songs .pop-songs2 li .img_play .bi{
    position: absolute;
    top: 46px;
    left: 43px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    
}

header .song-side .popular-songs .pop-songs2 li .img_play:hover .bi{
    opacity: 1;
}

header .song-side .popular-songs .pop-songs2 li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
}

header .song-side .popular-songs .pop-songs2 li h5 .subtitle{
    font-size: 10px;
    color: #4c5262;
    text-align: center;
}
 









header .song-side .popular-songs .pop-songs1{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

header .song-side .popular-songs .pop-songs1::-webkit-scrollbar{
    display: none;
}

header .song-side .popular-songs .pop-songs1 li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song-side .popular-songs .pop-songs1 li:hover{
    background: rgba(105, 105, 105, 0.384);
}

header .song-side .popular-songs .pop-songs1 li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .song-side .popular-songs .pop-songs1 li .img_play img{
    width: 100%;
    height: 100%;
    margin-left: 10px;

}

header .song-side .popular-songs .pop-songs1 li .img_play .bi{
    position: absolute;
    top: 46px;
    left: 43px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    
}

header .song-side .popular-songs .pop-songs1 li .img_play:hover .bi{
    opacity: 1;
}

header .song-side .popular-songs .pop-songs1 li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
}

header .song-side .popular-songs .pop-songs1 li h5 .subtitle{
    font-size: 10px;
    color: #4c5262;
    text-align: center;
}
 








header .song-side .popular-artists{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 15px;
    
}

header .song-side .popular-artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side .popular-artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .popular-artists .h4 .bi:hover{
    color: #afff;
}

header .song-side .popular-artists .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow: hidden;
}

header .song-side .popular-artists .item::-webkit-scrollbar{
    display: none;
}

header .song-side .popular-artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 92px;
    height: 92px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;

}

header .song-side .popular-artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

.stick{  
    position: sticky;  
    top:50px;  
    padding: 10px;  
    font-size:20px;  
    font-weight:bold;  
    background-color: lightblue;  
    border: 1px solid blue;  
   }  